################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactlessSelfCheckout/ContactlessSelfCheckout/Database1.mdf
